html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #fff;
}

* {
  box-sizing: border-box;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
